.Chef {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
    height: 100%;
  }


.productTable{
    width: 100%;
    border: 1px solid white;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    margin: 45px;    
    width: 80%; 
    text-align: left;    
    border-collapse: collapse;    
    text-align: center;
}

.productTable > th, td {
    border: 1px solid white;    
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
    width:600px;
    margin: 0 auto;
    font-size: 20px;
    table-layout: fixed;
    text-align: center;
}

.material-symbols-outlined{
    font-size: 30px;
    height:20%;
    align-self: center;
}

.ChefHeader {
    margin: 20px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 30% 60% 10%;
    flex-direction: row;
    width: 100%;
    font-size: 30px;
    font-style: italic;
    justify-content: space-between;
    justify-items: end;
}

.ChefHeader > .Logo{
    align-items: center;
}

.nameChef{
    align-self: center;
}

.chefLogo{
    width: 50%;
    align-items: normal;
}

.btn-pending{
    width: 150px;
    height: 50px;
    align-items: center;
    background-color: rgb(246, 18, 18);
    border-radius: 10px;
    color: aliceblue;
    align-self: center;
}

th.fitwidth{
    width: 1px;
    white-space: nowrap;
}

.material-symbols-outlined > button{
    color:aliceblue;
    background-color: #171820;
    border: none;
}